/* Common styles*/
header{
	background-image: url(nature-wallpaper-for-samsung-hd-landscape-wallpapers-green-plants-sky-free-images-windows-desktop-images-best-nature-images-2048x1181.jpg);
	height: 100%;
	width: 100%;
}
.heading{
	font-weight: 500;
    font-family: 'Poiret One', cursive;
	text-align: center;
	color: crimson;
	text-transform: uppercase;
	font-size: 60px;
	margin: 0;
	width: 100%;
	padding-top: -50px;
}

#socmed{
	width: 60%;
	text-align: center;
}


.cent{
	text-align: center;
	width: 100%;
	float: inherit;
	padding-left: 300px;
	padding-top: 150px;
}

/* Grid */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/*Content*/
#port{
	background: #a9a9a9;
}
#portf{
	font-weight: 200;
    font-family: 'Poiret One', cursive;
	text-align: center;
	color: crimson;
	text-transform: uppercase;
	font-size: 50px;
	margin: 0;
	width: 100%;
	padding-top: 50px
}

#mems{
}

h3{
	font-size: 20px;
	padding-top: 0px;
	line-height: 8px;
	padding-bottom: 15px;
}

/* Menu */

.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu--viola .menu__item {
	position: relative;
	margin: 0 1em;
}

.menu--viola .menu__link {
	position: relative;
	display: block;
	text-align: center;
	color: #929292;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--viola .menu__link:hover,
.menu--viola .menu__link:focus {
	color: #fff;
}

.menu--viola .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--viola .menu__item::before,
.menu--viola .menu__item::after,
.menu--viola .menu__link::before,
.menu--viola .menu__link::after {
	content: '';
	position: absolute;
	background: #d94f5c;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--viola .menu__item::before,
.menu--viola .menu__item::after {
	top: 0;
	width: 2px;
	height: 100%;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
}

.menu--viola .menu__item::before {
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.menu--viola .menu__item::after {
	right: 0;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.menu--viola .menu__link::before,
.menu--viola .menu__link::after {
	left: 0;
	width: 100%;
	height: 2px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
}

.menu--viola .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--viola .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--viola .menu__item--current::before,
.menu--viola .menu__item--current::after,
.menu--viola .menu__item--current .menu__link::before,
.menu--viola .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* Our Work */
.cs-style-6 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
	-webkit-transform: translateY(-50px) scale(0.5);
	-moz-transform: translateY(-50px) scale(0.5);
	-ms-transform: translateY(-50px) scale(0.5);
	transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
	height: 100%;
	width: 100%;
}

.cs-style-6 figcaption h3 {
	margin-top: 60%;
}

.cs-style-6 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}